$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "openlayersHelpers.scss";

body {
    padding: 0;
}

html,
body,
.container-fluid,
.container-fluid > div,
.map {
    height: 100%;
}

#map1 {
    background: #eee;
    .spinner {
        font-size: 3em;
    }
}
